
*.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
android/.idea/deploymentTargetDropDown.xml
android/.idea/deploymentTargetDropDown.xml
android/.idea/misc.xml
android/.idea/misc.xml
android/.idea/misc.xml
